{% extends "base.html" %}
{%  load humanize %}
{% block css %}
<style>
a:hover {
	text-decoration : none;
	color : black;
}
th { background-color: #4d4d4d;
     padding : 20px;
color:white ;}
table,td {padding:20px;}
</style>
{% endblock %}
{%  block content %}
<table>
<tr> <th> Tâche </th>
<th> Dernier message </th>
<th> Auteur et date </th></tr>
<tr>
<td>

{%  for t in list_tasks %}
     <a href = "{%  url 'focus_task' id=t.id %}"> {{t.name}} </a> <br><br>
    {%  endfor %}

</td>
<td>


    {%  for c in ordered_comments %}
        {% if c == "empty" %}
            Aucun message <br><br>

        {%  else %}
            <span style="color:mediumpurple"><strong>{{ c.content }} </strong> </span> <br><br>
        {% endif %}
        {%  endfor %}

</td>
<td>
{% for c in ordered_comments %}
    {% if c == "empty" %}
    <br><br>
    {% else %}
par <strong>{{ c.user.username }}</strong> <i> le {{ c.submit_time }} </i> </li><br><br>
    {%  endif %}
{%  endfor %}
</td>
</tr>
</table>
{% endblock %}

