{% extends "base.html" %}
{%  load humanize %}
{% block css %}
<style>
a:hover {
	text-decoration : none;
	color : black;
}
th { background-color: #4d4d4d;
     padding : 20px;
color:white ;}
table,td {padding:20px;}
</style>
{% endblock %}
{%  block content %}
<table>
<tr> <th> Tâche </th>
<th> Dernier message </th></tr>
<tr>
<td>
<ul>
{%  for t in list_tasks %}
    <li> <a href = "{%  url 'focus_task' id=t.id %}"> {{t.name}} </a> </li><br><br>
    {%  endfor %}
</ul>
</td>
<td>
    <ul>

    {%  for c in ordered_comments %}
        {% if c == "empty" %}
           <li> Aucun message </li><br><br>

        {%  else %}
            <li> <strong>{{ c.user.username }}</strong> : <span style="color:mediumpurple">{{ c.content }}  </span> <i> at : {{ c.submit_time }} </i> </li><br><br>
        {% endif %}
        {%  endfor %}
    </ul>
</td>
</tr>
</table>
{% endblock %}

