<!-- Vue du calendrier -->
{% extends "base.html"%}
{% load static %}

{% block script%}
<script type="text/javascript" src="https://visjs.github.io/vis-timeline/standalone/umd/vis-timeline-graph2d.min.js"></script>
<script src={% static "javascript/gantt.js" %}></script>

<script>
   $(document).ready(function() {
      document.getElementById("calendar-nav_item").classList.add("active");

      var tasks_by_project = {{ tasks_by_project|safe }};
      initialize_gantt(tasks_by_project);
      plot_gantt();
   })
</script>
{%endblock%}

{% block css %}
{% endblock %}




{% block content %}

   <div class="m-5 p-3">
      <h3>Calendrier</h3>
   <br/>
      <div id="gantt"></div>

</div>



{% endblock %}
