<!-- Vue individuelle d'une piste -->
{% extends "base.html"%}

{% block css %}
<style>
a:hover {
	text-decoration: none;
	color : black;
}
</style>
{% endblock %}


{% block script%}
<script>
   $(document).ready(
      function() {
         document.getElementById("projects-nav_item").classList.add("active");
      }
   )
</script>
{%endblock%}



{% block content %}




<div class="m-5">
   <a href="{% url "projects" %}"><i class="fa fa-angle-double-left"></i> Mes projets</a>

	<!-- HEADER Presentation du Projet -->
   <div class="mx-5  my-3">
		<div class="row">
			<div class="col-11">
				<h3>{{ project }}</h3>
			</div>
			<div class="col-1 text-right">
					<h3><a href="{% url "manageproject" id=project.id %}"><i class="fa fa-wrench"></i></a></h3>
			</div>
		</div>

		<!-- Liste des membres -->
      <table class="table">
         <tbody>
            <tr>
               <th class="thead-dark">Membres</th>
               <td>
                  {% for member in project.members.all %}
                  	<span class="badge badge-secondary">{{ member.first_name }} {{ member.last_name }}</span>
                  {% endfor %}
               </td>
            </tr>
         </tbody>
      </table>
   </div>

	<!-- HEADER Taches -->
	<div class="row">
		<div class="col-11">
			<h4 class="mb-3">Tâches</h4>
		</div>
		<div class="col-1 text-right">
			<h4><a href="{% url "newtask" id_project=project.id %}"><i class="fa fa-plus-square"></i></a></h4>
		</div>
	</div>


   <table class="table table-hover">
      {% comment %} HEAD OF TABLE {% endcomment %}
      <thead class="thead-dark">
         <tr>
            <th scope="col">Priorité</th>
            <th scope="col">Tâche</th>
            <th class="d-none d-lg-table-cell" scope="col">Responsable</th>
            <th class="d-none d-lg-table-cell" scope="col">Deadline</th>
            <th class="d-none d-lg-table-cell" scope="col">Statut</th>
            <th class="d-none d-lg-table-cell" scope="col">Éditer</th>
         </tr>
      </thead>

      {% comment %} BODY OF TABLE {% endcomment %}
      <tbody>
         {% for task in tasks %}
         <tr>
            <!-- TODO Faire un visuel stylé pour enhance les trucs importants ou les trucs outdate -->
            <td>{{ task.priority }}</td>
            <td class="d-none d-lg-table-cell"><a href = {% url "focus_task" id=task.id %}>{{ task.name }}</a></td>
            <td class="d-none d-lg-table-cell">{{ task.user.last_name }}</td>
            <td class="d-none d-lg-table-cell">{{ task.due_date }}</td>
            <td class="d-none d-lg-table-cell">{{ task.status }}</td>
            <td class="d-none d-lg-table-cell"><a href="{% url "managetask" id=task.id %}"<i class="fa fa-edit"></i></td>
         </tr>
         {% empty %}
         <tr>
            <td colspan=6>Pas de tâches</td>
         </tr>
         {% endfor %}
      </tbody>

   </table>


</div>

{% endblock %}
