<!-- Vue individuelle d'une piste -->
{% extends "base.html"%}

{% block css %}{% endblock %}


{% block script%}{%endblock%}



{% block content %}

<div class="m-5">
   <div class="m-5">
      <h3>{{ project }}</h3>

      <table class="table">
         {% comment %} BODY OF TABLE {% endcomment %}
         <tbody>
            <tr>
               <th class="thead-dark">Membres</th>
               <td>
                  {% for member in project.members.all %}
                  <span class="badge badge-secondary">{{ member.first_name }} {{ member.last_name }}</span>
                  {% endfor %}
               </td>
            </tr>
         </tbody>
      </table>
   </div>

   <h4>Tâches</h4>

   <table class="table table-hover">
      {% comment %} HEAD OF TABLE {% endcomment %}
      <thead class="thead-dark">
         <tr>
            <th scope="col">Priorité</th>
            <th scope="col">Tâche</th>
            <th class="d-none d-lg-table-cell" scope="col">Utilisateur</th>
            <th class="d-none d-lg-table-cell" scope="col">Deadline</th>
            <th class="d-none d-lg-table-cell" scope="col">Statut</th>
         </tr>
      </thead>

      {% comment %} BODY OF TABLE {% endcomment %}
      <tbody>
         {% for task in tasks %}
         <tr>
            <!-- TODO Faire un visuel stylé pour enhance les trucs importants ou les trucs outdate -->
            <td>{{ task.priority }}</td>
            <td class="d-none d-lg-table-cell">{{ task.name }}</td>
            <td class="d-none d-lg-table-cell">{{ task.user.last_name }}</td>
            <td class="d-none d-lg-table-cell">{{ task.due_date }}</td>
            <td class="d-none d-lg-table-cell">{{ task.status }}</td>
         </tr>
         {% empty %}
         <tr>
            <td colspan=5>Pas de tâches</td>
         </tr>
         {% endfor %}
      </tbody>

   </table>


</div>

{% endblock %}
