<!-- Vue individuelle d'une piste -->
{% extends "base.html"%}
{% load humanize %}
{% load static %}

{% block css %}
<style>
a:hover {
	text-decoration : none;
	color : black;
}
</style>
{% endblock %}


{% block script%}
<script>
   $(document).ready(
      function() {
         document.getElementById("projects-nav_item").classList.add("active");
			{% if show_toast %}
				$('.toast').toast('show');
			{% endif %}
      }
   )
</script>
{%endblock%}



{% block content %}

<!-- ================ TOAST Tache modifiee (on vient de la page formtask en mode MODIFY) ================ -->
{% if show_toast %}
	<div class="container">
	   <div class="toast" data-delay="3000" style="position: fixed; bottom: 1rem; right: 1rem; min-width:250px;" aria-live="assertive" aria-atomic="true">
	      <div class="toast-header" style="background-color: #c9c9c9">
	         <i class="fa fa-edit"></i>
	         <strong class="mr-auto ml-2">Modification de la tâche</strong>
	         <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
	      </div>
	      <div class="toast-body" >
	         {{ modified_task }} a été modifié
	      </div>
	   </div>
	</div>
{% endif %}


<div class="m-5">

   <a href="{% url "focus_project" id=task.project.id %}"><i class="fa fa-angle-double-left"></i> {{ task.project }}</a>
   <br/><br/>

	<div class="mx-5  my-3">
		<div class="row">
			<div class="col-11">
				<h3>{{ task }}</h3>
			</div>
			<div class="col-1 text-right">
					<h3><a href="{% url "managetask" id=task.id %}"><i class="fa fa-wrench"></i></a></h3>
			</div>
		</div>

   <table class="table">
      {% comment %} BODY OF TABLE {% endcomment %}
      <tbody>
         <tr>
            <th class="thead-dark">Projet parent</th>
            <td><a href="{% url "focus_project" id=task.project.id %}">{{ task.project }}</a></td>
         </tr>
         <tr>
            <th class="thead-dark">Tâche</th>
            <td>{{ task.name }}</td>
         </tr>
         <tr>
            <th class="thead-dark">Description</th>
            <td>{{ task.description|default:"-" }}</td>
         </tr>
			<tr>
            <th class="thead-dark">Catégorie</th>
            <td>{{ task.category|default_if_none:"-" }}</td>
         </tr>
         <tr>
            <th class="thead-dark">Responsable</th>
            <td>{{ task.user.first_name }} {% filter upper %}{{ task.user.last_name }}{% endfilter %}</td>
         </tr>
			<tr>
				<th class="thead-dark">Pièce jointe</th>
				<td>{% if task.attachment %}
					<a target="_blank" href="{{ task.attachment.url }}">{{ att_name }}</a><br/>
						<!-- On peut utiliser les deux en embed, mais sinon, on conserve pas les proportions en cas d'images -->
						<span class="d-none d-lg-block">
						{% if show_as_picture %}
							<img class="mt-2 border border-secondary" src="{{ task.attachment.url }}" style="width:30vw"/>
						{% elif show_as_doc %}
							<embed class="mt-2 border border-secondary" src="{{ task.attachment.url }}" width="500" height="375">
						{% endif %}
						</span>

					{% else %} -
					{% endif %}</td>
			</tr>
         <tr>
            <th class="thead-dark">Date de début</th>
            <td>{{ task.start_date }} <span class="d-none d-md-inline">({{ task.start_date|naturaltime }})</span></td>
         </tr>
         <tr>
            <th class="thead-dark">Deadline</th>
            <td>{{ task.due_date }} <span class="d-none d-md-inline">({{ task.due_date|naturaltime }})</span></td>
         </tr>
         <tr>
            <th class="thead-dark">Priorité</th>
            <td>{{ task.priority }}</td>
         </tr>
         <tr>
            <th class="thead-dark">Statut</th>
            <td>{{ task.status }}</td>
         </tr>
			<tr>
            <th class="thead-dark">Sous-tâches</th>
            <td>
					{% for subtask in subtasks %}
						{{ subtask }}<br/>
					{% endfor %}
				</td>
         </tr>
      </tbody>
   </table>



		<br/>
		<h5 class="mb-3">Commentaires</h5>

	<form action="{% url "focus_task" id=task.id %}" method="post">
		{% csrf_token %}
		<div class="d-flex">
			{{ form_comment.content }}
			<button class="btn btn-secondary ml-1">Ajouter</button>
		</div>
	</form>

	{% for comment in comments %}
		<div class="row w-100 mt-3 pb-3 border-bottom">
			<div class="col-2">{{ comment.submit_time }}</div>
			<div class="col-2"><span class="badge badge-secondary">{{ comment.user.first_name }} {{ comment.user.last_name }}</span></div>
			<div class="col-8">{{ comment.content }}</div>
		</div>
	{% empty %}
		<br/>Aucun commentaire
	{% endfor %}



</div>

{% endblock %}
