<!-- Vue individuelle d'un projet -->
{% extends "base.html"%}

{% block css %}
<style>
a:hover {
	text-decoration: none;
	color : black;
}
</style>
{% endblock %}


{% block script%}
<script>
   $(document).ready(
      function() {
         document.getElementById("projects-nav_item").classList.add("active");
			{% if show_toast %}
				$('.toast').toast('show');
			{% endif %}
      }
   )
</script>
{%endblock%}



{% block content %}

<!-- ================ TOAST Tache supprimee (on revient de la page formtask, en mode MODIFY ) ================ -->
{% if show_toast %}
	<div class="container">
	   <div class="toast" data-delay="3000" style="position: absolute; bottom: 1rem; right: 1rem; min-width:250px;" aria-live="assertive" aria-atomic="true">
	      <div class="toast-header" style="background-color: #c9c9c9">
	         <i class="fa fa-times"></i>
	         <strong class="mr-auto ml-2">Suppression de la tâche</strong>
	         <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
	      </div>
	      <div class="toast-body" >
	         {{ deleted_task }} a été supprimé
	      </div>
	   </div>
	</div>
{% endif %}



<div class="m-sm-5">
   <a href="{% url "projects" %}"><i class="fa fa-angle-double-left"></i> Mes projets</a>

	<!-- HEADER Presentation du Projet -->
   <div class="mx-5  my-3">
		<div class="row">
			<div class="col-11">
				<h3 style="display:inline" class="mr-4">{{ project }}</h3><em>Projet {{ project.get_public_display }}</em>
			</div>
			<div class="col-1 text-right">
					<h3><a href="{% url "manageproject" id=project.id %}"><i class="fa fa-wrench"></i></a></h3>
			</div>
		</div>

		<!-- Liste des membres -->
      <table class="table">
         <tbody>
            <tr>
               <th class="thead-dark">Membres</th>
               <td>
                  {% for member in project.members.all %}
                  	<span class="badge badge-secondary">{{ member.first_name }} {{ member.last_name }}</span>
                  {% endfor %}
               </td>
            </tr>
         </tbody>
      </table>
   </div>

	<!-- HEADER Taches -->
	<div class="row">
		<div class="col-11">
			<h4 class="mb-3">Tâches</h4>
		</div>
		<div class="col-1 text-right">
			<h4><a href="{% url "newtask" id_project=project.id %}"><i class="fa fa-plus-square"></i></a></h4>
		</div>
	</div>


     <!-- Lien vers un tri des tâches selon leur assignee -->
    <a href="{% url 'distincttasks' ide=project.id %}"> Afficher séparément mes tâches et celles des autres utilisateurs </a>
    <br><br>

    <!-- Lien vers le tri des tâches selon leur dernière activité -->
    <a href="{% url 'activities' ide=project.id %}"> Afficher les tâches triées par ordre chronologique de la dernière activité </a>
    <br><br>

   <table class="table table-hover">

      <thead class="thead-dark">
         <tr>
            <th scope="col" class="col-1">Priorité</th>
            <th scope="col" class="col-3">Tâche</th>
            <th class="d-none d-lg-table-cell" scope="col">Responsable</th>
            <th class="d-none d-xl-table-cell" scope="col">Deadline</th>
            <th class="d-none d-lg-table-cell" scope="col">Statut</th>
				<th scope="col" class="d-none d-md-table-cell col-1">Détails</th>
            <th scope="col" class="d-none d-sm-table-cell col-1">Éditer</th>
         </tr>
      </thead>



      <tbody>
         {% for task in tasks %}
         <tr>
            <td>{{ task.priority }}</td>
				<td><a href={% url "focus_task" id=task.id %}>{{ task.name }}</a></td>
            <td class="d-none d-lg-table-cell">{{ task.user.last_name }}</td>
            <td class="d-none d-xl-table-cell">{{ task.due_date|date }}</td>
            <td class="d-none d-lg-table-cell">{{ task.status }}</td>
				<td class="d-none d-md-table-cell"><a href="{% url "focus_task" id=task.id %}"<i class="fa fa-search"></i></td>
            <td class="d-none d-sm-table-cell"><a href="{% url "managetask" id=task.id %}"<i class="fa fa-edit"></i></td>
         </tr>

         {% empty %}
         	<tr><td colspan=7>Pas de tâches</td></tr>

         {% endfor %}
      </tbody>

   </table>

</div>

{% endblock %}
