{% extends "header.html" %}

{% block script %}
   <script>
      $(document).ready(
         function() {
            {% if new_log %}
               $('.toast').toast('show');
            {% endif %}
         }
      )

      $('.carousel').carousel({
    interval: false
});
   </script>
{% endblock %}


{% block css %}
   <style>

      #disconnect{
         font-size:3em;
         color: #353535;
      }
      #disconnect:hover{
         font-size: 3.5em;
         color: #101010;
      }

      .title{
         font-size: 5vw;
      }


   </style>
{% endblock %}



{% block content %}
   <!-- ================ TOAST User connecté ================ -->
   <div class="container">
      <div class="toast" data-delay="3000" style="position: absolute; bottom: 1rem; right: 1rem; min-width:250px; z-index: 1000;" aria-live="assertive" aria-atomic="true">
         <div class="toast-header" style="background-color: #c9c9c9">
            <i class="fa fa-sign-in"></i>
            <strong class="mr-auto ml-2">Connexion</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
         </div>
         <div class="toast-body">
            Bonjour {{ user.first_name }} {% filter upper %}{{ user.last_name }}{% endfilter %} !
         </div>
      </div>
   </div>


   <!-- ================ Bouton de déconnexion ================ -->
   <div style="position: absolute; top: 1rem; right: 1rem; z-index:1000;" class="float-right">
      <a href="{% url "disconnect" %}">
         <i id="disconnect" class="fa fa-sign-out"></i>
      </a>
   </div>



   <!-- ================ Mega carroussel  ================ -->
   <div class="container-fluid px-0">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

         <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
         </ol>

         <div class="carousel-inner" role="listbox" style="background: linear-gradient(to bottom, #ffffff 0%, #505050 100%);">


            <!-- ================ Page d'accueil ================ -->
            <div class="carousel-item active">
               <a class="nav-link" href="{% url "home" %}">
                  <div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
                        <img id="logo" title="Violin" src="/static/pictures/calendar-check-solid.svg" class="img-fluid align-self-center m-4"/>
                     	<h1 class="d-none d-sm-block title align-self-center">Gestionnaire de projets</h1>
                  </div>
               </a>
            </div>

            <!-- ================ Page de vue globale des projets ================ -->
            <div class="carousel-item">
               <a class="nav-link" href="{% url "projects" %}">
                  <div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
            			<img id="logo" title="Violin" src="/static/pictures/folder-open-solid.svg" class="img-fluid align-self-center m-4"/>
            			<h1 class="d-none d-sm-block title align-self-center">Mes projets</h1>
                  </div>

                  <div class="carousel-caption d-none d-lg-block">
                     <h5>Mes projets</h5>
                     <p>Ayez une vue d'ensemble de vos projets, modifiez-les<br/>Créez et affectez des tâches</p>
                  </div>
               </a>
            </div>

            <!-- ================ Page de création d'un projet ================ -->
            <div class="carousel-item">
               <a class="nav-link" href="{% url "newproject" %}">
                  <div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
               		<img id="logo" title="Violin" src="/static/pictures/plus-solid.svg" class="img-fluid align-self-center m-4"/>
               		<h1 class="d-none d-sm-block title align-self-center">Nouveau projet</h1>
                  </div>

                  <div class="carousel-caption d-none d-lg-block">
                     <h5>Nouveau projet</h5>
                     <p>Créez un nouveau projet</p>
                  </div>
               </a>
            </div>


            <!-- ================ Page de mon calendrier ================ -->
            <div class="carousel-item">
               <a class="nav-link" href={% url 'dashboard' %}>
                  <div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
            			<img id="logo" title="Violin" src="/static/pictures/columns-solid.svg" class="img-fluid align-self-center m-4"/>
            			<h1 class="d-none d-sm-block title align-self-center">Mon tableau de bord</h1>
                  </div>

                  <div class="carousel-caption d-none d-lg-block">
                     <h5>Mon tableau de bord</h5>
                     <p>Ayez une vue d'ensemble des tâches que vous devez réaliser</p>
                  </div>
               </a>
            </div>


            <!-- ================ Page de mon calendrier ================ -->
            <div class="carousel-item">
               <a class="nav-link" href="calendar">
                  <div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
            			<img id="logo" title="Violin" src="/static/pictures/calendar-alt-solid.svg" class="img-fluid align-self-center m-4"/>
            			<h1 class="d-none d-sm-block title align-self-center">Mon calendrier</h1>
                  </div>

                  <div class="carousel-caption d-none d-lg-block">
                     <h5>Mon calendrier</h5>
                     <p>C'est ... un calendrier de vos tâches...</p>
                  </div>
               </a>
            </div>

         <!-- ================ FLECHES DE NAVIGATION ================ -->
         </div>
         <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
         </a>
      </div>
   </div>

{% endblock %}
