{% extends "header.html" %}

{% block script %}
   <script>
      $(document).ready(
         function() {
            {% if new_log %}
               $('.toast').toast('show');
            {% endif %}
         }
      )

      $('.carousel').carousel({
    interval: false
});
   </script>
{% endblock %}


{% block css %}
   <style>

      .nav_top{
         font-size:2.5em;
         color: #474747;
      }
      .nav_top:hover{
         font-size: 3em;
         color: #101010;
      }

      .title{
         font-size: 5vw;
      }

      #navbar_top{
         position: absolute;
         top: 0rem;
         left: 0rem;
         z-index:1000;
         width:100%;
      }

      #navbar_top_back{
         position: absolute;
         top: 0rem;
         left: 0rem;
         z-index:1000;
         width:100%;
         height: 4em;
         background-color: rgba(175,175,175,0.4);
      }


   </style>
{% endblock %}



{% block content %}
   <!-- ================ TOAST User connecté ================ -->
   <div class="container">
      <div class="toast" data-delay="3000" style="position: absolute; bottom: 1rem; right: 1rem; min-width:250px; z-index: 1000;" aria-live="assertive" aria-atomic="true">
         <div class="toast-header" style="background-color: #c9c9c9">
            <i class="fa fa-sign-in"></i>
            <strong class="mr-auto ml-2">Connexion</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
         </div>
         <div class="toast-body">
            Bonjour {{ user.first_name }} {% filter upper %}{{ user.last_name }}{% endfilter %} !
         </div>
      </div>
   </div>


   <!-- ================ Bouton de déconnexion ================ -->
   <div id="navbar_top_back" class="container-fluid"></div>

   <div id="navbar_top" class="container-fluid py-2">
      <div style=" display: flex; justify-content: space-between;">

            <div class="col-1 text-center">
               <a href="{% url "projects" %}">
                  <i class="nav_top fa fa-folder-open"></i>
               </a>
            </div>

            <div class="col-1 text-center">
               <a href="{% url "newproject" %}">
                  <i class="nav_top fa fa-plus"></i>
               </a>
            </div>

            <div class="col-1 text-center">
               <a href="{% url "dashboard" %}">
                  <i class="nav_top fa fa-columns"></i>
               </a>
            </div>

            <div class="col-1 text-center">
               <a href="{% url "graphs" %}">
                  <i class="nav_top fa fa-area-chart"></i>
               </a>
            </div>

            <div class="col-1 text-center">
               <a href="{% url "disconnect" %}">
                  <i class="nav_top fa fa-sign-out"></i>
               </a>
            </div>

      </div>
   </div>




   <!-- ================ Mega carroussel  ================ -->
   <div class="container-fluid px-0">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

         <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
         </ol>

         <div class="carousel-inner" role="listbox" style="background: linear-gradient(to bottom, #ffffff 0%, #505050 100%);">


            <!-- ================ Page d'accueil ================ -->
            <div class="carousel-item active">
               <a class="nav-link" href="{% url "home" %}">
                  <div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
                        <img id="logo" title="Violin" src="/static/pictures/calendar-check-solid.svg" class="img-fluid align-self-center m-4"/>
                     	<h1 class="d-none d-sm-block title align-self-center">Gestionnaire de projets</h1>
                  </div>
               </a>
            </div>

            <!-- ================ Page de vue globale des projets ================ -->
            <div class="carousel-item">
               <a class="nav-link" href="{% url "projects" %}">
                  <div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
            			<img id="logo" title="Violin" src="/static/pictures/folder-open-solid.svg" class="img-fluid align-self-center m-4"/>
            			<h1 class="d-none d-sm-block title align-self-center">Mes projets</h1>
                  </div>

                  <div class="carousel-caption d-none d-lg-block">
                     <h5>Mes projets</h5>
                     <p>Ayez une vue d'ensemble de vos projets, modifiez-les<br/>Créez et affectez des tâches</p>
                  </div>
               </a>
            </div>

            <!-- ================ Page de création d'un projet ================ -->
            <div class="carousel-item">
               <a class="nav-link" href="{% url "newproject" %}">
                  <div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
               		<img id="logo" title="Violin" src="/static/pictures/plus-solid.svg" class="img-fluid align-self-center m-4"/>
               		<h1 class="d-none d-sm-block title align-self-center">Nouveau projet</h1>
                  </div>

                  <div class="carousel-caption d-none d-lg-block">
                     <h5>Nouveau projet</h5>
                     <p>Créez un nouveau projet</p>
                  </div>
               </a>
            </div>


            <!-- ================ Page de mon tableau de bord ================ -->
            <div class="carousel-item">
               <a class="nav-link" href={% url 'dashboard' %}>
                  <div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
            			<img id="logo" title="Violin" src="/static/pictures/columns-solid.svg" class="img-fluid align-self-center m-4"/>
            			<h1 class="d-none d-sm-block title align-self-center">Mon tableau de bord</h1>
                  </div>

                  <div class="carousel-caption d-none d-lg-block">
                     <h5>Mon tableau de bord</h5>
                     <p>Ayez une vue d'ensemble des tâches que vous devez réaliser</p>
                  </div>
               </a>
            </div>


            <!-- ================ Page de mon calendrier ================ -->
            <div class="carousel-item">
               <a class="nav-link" href="{% url 'graphs' %}">
                  <div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
            			<img id="logo" title="Violin" src="/static/pictures/chart-area-solid.svg" class="img-fluid align-self-center m-4"/>
            			<h1 class="d-none d-sm-block title align-self-center">Graphiques</h1>
                  </div>

                  <div class="carousel-caption d-none d-lg-block">
                     <h5>Graphiques</h5>
                     <p>Des graphiques...</p>
                  </div>
               </a>
            </div>

            <!-- =============== Page de lien vers les fonctionnalités F1 ========= -->
            <div class="carousel-item">
                  <div class="d-flex flex-column align-items-center justify-content-center min-vh-100">

                     <ul class="d-none d-sm-block align-self-center">

                        <a style="font-size:300%" ; href={% url 'membersproject' %}> <img src="/static/pictures/community.png" style="width:75px;height:75px"> Liste de vos projets et leurs membres </a><br> <br>

                        <a style="font-size:300%" ; href={% url 'listtasks' %}> <img src="/static/pictures/detail.png" style="width:75px;height:75px"> Listes de vos tâches et leurs attributs </a><br><br>

                        <a style="font-size:300%" ; href={% url 'finishedtasks' %}> <img src="/static/pictures/finished.png" style="width:85px;height:85px"> Liste de toutes vos tâches finies </a><br><br>
                     </ul>
                  </div>

                  <div class="carousel-caption d-none d-lg-block">
                     <h5>Complete datas</h5>

                  </div>
            </div>

         <!-- ================ FLECHES DE NAVIGATION ================ -->
         </div>
         <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
         </a>
      </div>
   </div>

{% endblock %}
