<table>
    {% for t in tasks %}
    <tr>
       <th rowspan="7">{{t.name}}</th>
        <td> {{t.descrption }}</td>
    </tr>
    <tr><td><a href="{% url 'focus_project' id=t.project.id %}"> Project : {{t.project.name}}</a></td></tr>
    <tr> <td> Start date : {{t.start_date}}</td></tr>
    <tr> <td> Due date :{{t.due_date}}</td></tr>
    <tr> <td> Priority : {{t.priority}}</td></tr>
    <tr> <td> Status : {{t.status}}</td></tr>
    <tr> <td> Category : {{t.categrie}}</td></tr>
    {% endfor %}
</table>