{% extends "base.html"%}
{% load humanize %}
{% load static %}
{% block css %}
<style>
    table, th, td {
        font-size : 120% ;
        padding : 20px ;
        border : 1px solid black;

    }
    .grid-container {
  display: grid;
        grid-column-gap:20px;
        grid-row-gap:15px;
  grid-template-columns: auto auto auto;

  padding: 30px;
}
    .grid-item {
        padding : 20px ;
    }
    </style>
      {% endblock %}

{% block content %}

    <div class="grid-container">
    {% for p in proj %}
        <div class="grid-item" style="background-color:#4d4d4d">
        <h2> <a style="color:white" href="{%url 'focus_project' id=p.id %}"> {{p.name}} </a></h2><br>
        <ul>
        {% for m in p.members.all %}
        <li style="font-size:120%"> <span style="background-color:lightgrey;padding:6px">  {{m.username}}  </span></li><br>
        {% endfor %}
    </ul></div>
    {% endfor %}
                       </div>


{% endblock %}


