<!-- Vue du contributeur -->
{% extends "base.html"%}
{% load static %}

{% block script%}
<script>
   $(document).ready(
      function() {
         {% if added %}
            $('.toast').toast('show');
         {% endif %}
      }
   )

   $(function () {
      $('#datetimepicker1').datetimepicker({
         locale: 'fr'
      });
      $('#datetimepicker2').datetimepicker({
         locale: 'fr'
      });
   });

</script>


<!-- Datepicker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />

{%endblock%}

{% block css %}
<style>
a:hover {
	text-decoration : none;
	color : black;
}
</style>
{% endblock %}




{% block content %}

{% if added %}
   <div class="container">
      <div class="toast" data-delay="3000" style="position: fixed; bottom: 1rem; right: 1rem; min-width:250px; z-index:1000" aria-live="assertive" aria-atomic="true">
         <div class="toast-header" style="background-color: #c9c9c9">
            <i class="fa fa-sign-in"></i>
            <strong class="mr-auto ml-2">Nouvelle tâche</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
         </div>
         <div class="toast-body" >
            {{ new_task.name }} a bien été crée.
         </div>
      </div>
   </div>
{% endif %}



<div class="m-5">
   <a href="{% url "focus_project" id=project.id %}"><i class="fa fa-angle-double-left"></i> {{ project }}</a>

   <div class="mx-5 my-3">
      <h2 class="border-bottom p-1">Créer une nouvelle tâche</h2>
      <br />

   </div>

   {% for error in form.errors %}
   <p>
      {{ error }}
   </p>
   {% endfor %}

   <form action="{% url "newtask" id_project=project.id %}" method="post">
      {% csrf_token %}

      <div class="form-group row">
         <div class="col-md-2 col-form-label">
            Projet
         </div>
         <div class="col-md-10">
            <input type="text" class="form-control" value='{{ project.name }}' readonly>
         </div>
      </div>

      {% for field in form %}


         {% if field.name == "start_date"%}
         <div class="form-group row">
            <div class="col-md-2 col-form-label">
               {{ field.label_tag }}
            </div>
            <div class="col-md-10">
               <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                  <input name="{{ field.name }}" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" required/>
                  <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                     <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
               </div>
            </div>
         </div>


         {% elif field.name == "due_date"%}
         <div class="form-group row">
            <div class="col-md-2 col-form-label">
               {{ field.label_tag }}
            </div>
            <div class="col-md-10">
               <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                  <input name="{{ field.name }}" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2"  required/>
                  <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                     <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
               </div>
            </div>
         </div>


         {% elif field.name == "status" %}
         <div class="form-group row">
            <div class="col-md-2 col-form-label">
               Statut
            </div>
            {% for radio in form.status %}
               <div class="col-md-2">
                   {{ radio }}
               </div>
            {% endfor %}
         </div>


         {% else %}
            <div class="form-group row">
               <div class="col-md-2 col-form-label">
                  {{ field.label_tag }}
               </div>
               <div class="col-md-10">
                  {{ field }}
               </div>
            </div>

         {% endif %}
      {% endfor %}


		<br/>

      <input type="submit" value="Ajouter la tâche" />
   </form>
</div>


{% endblock %}
