<!-- Vue globale des projects -->
{% extends "base.html"%}

{% block script%}
	<script>
		$(document).ready(
			function() {
				document.getElementById("projects-nav_item").classList.add("active");
				{% if show_toast %}
	            $('.toast').toast('show');
	         {% endif %}
			}
		)
	</script>
{%endblock%}


{% block content %}

{% if show_toast %}
	<div class="container">
	   <div class="toast" data-delay="3000" style="position: absolute; bottom: 1rem; right: 1rem; min-width:250px;" aria-live="assertive" aria-atomic="true">
	      <div class="toast-header" style="background-color: #c9c9c9">
	         <i class="fa fa-sign-in"></i>
	         <strong class="mr-auto ml-2">Suppression du projet</strong>
	         <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Fermer"><span aria-hidden="true">&times;</span></button>
	      </div>
	      <div class="toast-body" >
	         {{ deleted_project }} a été supprimé
	      </div>
	   </div>
	</div>
{% endif %}


<div class=article>
	<h3>Mes projets</h3>
	<br/>
	<table class="table table-hover">
	{% comment %} HEAD OF TABLE {% endcomment %}
	<thead class="thead-dark">
		<tr>
			<th scope="col">Projet</th>
			<th class="d-none d-lg-table-cell" scope="col">Membres</th>
		</tr>
	</thead>

	{% comment %} BODY OF TABLE {% endcomment %}
	<tbody>
		{% for project in projects_list %}
			<tr>
				<td><a href="{% url "focus_project" id=project.id %}">{{ project.name }}</a></td>
				<td class="d-none d-lg-table-cell">
					{% for member in project.members.all %}
						<span class="badge badge-secondary">{{ member.first_name }} {{ member.last_name }}</span>
					{% endfor %}
				</td>
			</tr>
		{% empty %}
			<tr>
				<td colspan=2>Pas de projet</td>
			</tr>
		{% endfor %}
	</tbody>

</table>

</div>

{% endblock %}
