<!-- Vue du calendrier -->
{% extends "base.html"%}
{% load static %}

{% block script%}
<script type="text/javascript" src="https://visjs.github.io/vis-timeline/standalone/umd/vis-timeline-graph2d.min.js"></script>
<script src={% static "javascript/gantt.js" %}></script>

<script>
   $(document).ready(function() {
      document.getElementById("graphs-nav_item").classList.add("active");
      var tasks_by_project = {{ tasks_by_project|safe }};
      initialize_gantt(tasks_by_project);
      plot_gantt();

      $(window).click(function() {
         document.getElementById("details_task").style = "display:none";
      });

      $('#gantt').click(function(event){
         event.stopPropagation();
      });

      document.getElementById("waiting").style = "display:none";

   })



</script>
{%endblock%}

{% block css %}
<style>
a:hover {
   text-decoration: none;
   color : black;
}

#details_task{
   display:none;
   position:fixed;
   top:2vw;
   right:2vw;
   z-index:10000;
   background-color: white;
   box-shadow: 5px 5px 5px black;
   border: solid black 0.1vw;
   border-radius: 2%;
}
</style>
{% endblock %}




{% block content %}

<div class="col-4 mt-5">
   <div id="details_task" class="p-2">
      <div class="row">
         <h5 class="col-10" id="details_name">Aucune tâche sélectionnée</h5>
         <div class="col-1"><i class="fa fa-times"></i></div>
      </div>
      <table class="table">
         <tbody>
            <tr>
               <th class="thead-dark" style="width : 20%;">Projet parent</th>
               <td><a id="details_project" href="">-</a></td>
            </tr>
            <tr>
               <th class="thead-dark" style="width : 20%;">Date de début</th>
               <td id="details_start">-</td>
            </tr>
            <tr>
               <th class="thead-dark" style="width : 20%;">Deadline</th>
               <td id="details_deadline">-</td>
            </tr>
         </tbody>
      </table>
      <p class="text-right"> <a id="details_link" href="">Plus de détails... </a></p>
   </div>
</div>

   <div class="m-5 p-3">
      <h3>Diagramme de Gantt</h3>
      <em>Passez la souris sur une tâche pour plus de détails et cliquez pour la sélectionner, Ctrl+scroll pour zoomer</em>
   <br/>
   <div class="row">

      <div id="gantt" class="col-12 mt-5">
         <span id="waiting">Chargement...</span>
      </div>
   </div>



</div>



{% endblock %}
