<!-- Vue du calendrier -->
{% extends "base.html"%}
{% load static %}

{% block script%}
<script>
   $(document).ready(function() {
      document.getElementById("graphs-nav_item").classList.add("active");
   })
</script>
{%endblock%}

{% block css %}
<style>
a:hover {
   text-decoration: none;
   color : black;
}
}
</style>
{% endblock %}




{% block content %}

<div class="m-5 p-3">
   <h3>Vues graphiques</h3>
   <em>Trouvez ici des vues graphiques de vos données</em>
   <br/>
</div>

<!-- TODO Ameliorer le graphisme -->
<p>
   <a href={% url 'gantt' %}>Diagramme de Gantt</a> <br/>
   <a href={% url 'activitydiag' %}>Diagramme d'activités</a><br/>
   <a href={% url 'burndown' %}>Burndown chart</a><br/>
   <a href={% url 'radartask' %}>Radar des tâches</a><br/>
   <a href={% url 'radaractivity' %}>Radar d'activités</a><br/>
</p>




{% endblock %}
