<!-- Vue du calendrier -->
{% extends "base.html"%}
{% load static %}

{% block script%}
<script>
   $(document).ready(function() {
      document.getElementById("graphs-nav_item").classList.add("active");
   })
</script>
{%endblock%}

{% block css %}
<style>
a:hover {
   text-decoration: none;
   color : black;
}

img {
   margin-top: 1em;
   width : 100%;

}

.blur_link {
   filter: blur(.3vh);
}

.blur_link:hover {
   filter : blur(0px);
}

.text-center {
   margin: 1em;
   box-shadow: 2px 2px 2px dimgrey;
   border: solid dimgrey .1vw;
   border-radius: .3vw .5vw;
}
</style>
{% endblock %}




{% block content %}

<div class="m-5 p-3">
   <h3>Vues graphiques</h3>
   <em>Trouvez ici des vues graphiques de vos données</em>
   <br/>
</div>

<div class="row justify-content-center">

   <div class="col-5 col-lg-2 text-center blur_link">
      <a href={% url 'dashboard' %}>Tableau de bord <br/>
         <img src={% static "pictures/graphs_preview/dashboard.png" %}/>
      </a>
   </div>

   <div class="col-5 col-lg-2 text-center blur_link">
      <a href={% url 'gantt' %}>Diagramme de Gantt <br/>
         <img src={% static "pictures/graphs_preview/gantt.png" %}/>
      </a>
   </div>

   <div class="col-5 col-lg-2 text-center blur_link">
      <a href={% url 'burndown' %}>Burndown chart<br/>
         <img src={% static "pictures/graphs_preview/burndown.png" %}/>
      </a>
   </div>

   <div class="col-5 col-lg-2 text-center blur_link">
      <a href={% url 'radartask' %}>Radar des tâches<br/>
         <img src={% static "pictures/graphs_preview/tasks.png" %}/>
      </a>
   </div>

   <div class="col-5 col-lg-2 text-center blur_link">
      <a href={% url 'radaractivity' %}>Radar d'activités<br/>
         <img src={% static "pictures/graphs_preview/activity.png" %}/>
      </a>
   </div>
</div>





{% endblock %}
