<!-- Vue du calendrier -->
{% extends "base.html"%}
{% load static %}

{% block script%}

<script>
   $(document).ready(function() {
      document.getElementById("manageapp-nav_item").classList.add("active");
   })



</script>
{%endblock%}

{% block css %}
<style>
a:hover {
   text-decoration: none;
   color : black;
}
</style>
{% endblock %}




{% block content %}

   <div class="m-5 p-3">
      <h3>Vue d'ensemble de l'application</h3>
      <em>Description</em>
   <br/>

   <table class="table mt-5">
      <thead>
         <tr>
            <th>Acteur</th>
            <th>Verb</th>
            <th>Timestamp</th>
            <th>Projet</th>
            <th>Tache</th>

         </tr>
      </thead>
      <tbody>
         {% for trace in all_traces %}
            <tr>
               <td>{{ trace.actor }}</td>
               <td>{{ trace.verb }}</td>
               <td>{{ trace.timestamp }}</td>
               <td>{{ trace.object_project }}</td>
               <td>{{ trace.object_task }}</td>

            </tr>
         {% endfor %}
      </tbody>
   </table>

</div>


{% endblock %}
