<!-- Vue du calendrier -->
{% extends "base.html"%}
{% load static %}

{% block script%}

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src={% static "javascript/radar_activity.js" %}></script>

<script>
   $(document).ready(function() {
      document.getElementById("graphs-nav_item").classList.add("active");
      send_ajax('{% url 'radaractivity' %}', "global");

      var range = "global"
      $('#select_range input').on('change', function(){
         range = $('input[name=range]:checked', '#select_range').val();
         if(range == "global"){
            $('#select_project').hide(); // On cache le form pour choisir les projets
            $('#description_project').show();
            $('#description_global').hide();
            send_ajax('{% url 'radaractivity' %}', range, 0);
            $('#div_plot').css("opacity", "1");
         }
         else{
            $('#div_plot').css("opacity", "0"); // On cache le radar
            $("#select_project_btn").prop("selectedIndex", 0); // (parce qu'on est sur le choix NULL)
            $('#select_project').show(); // On affiche le form pour choisir le projet
            $('#description_project').hide();
            $('#description_global').show();

         }
      });

      $('#select_project').on('change', function(){
         project_selected = $('#select_project').find(":selected").val();
         if(project_selected != "NULL"){
            send_ajax('{% url 'radaractivity' %}', range, project_selected);
            $('#div_plot').css("opacity", "1");
         }
         else{
            $('#div_plot').css("opacity", "0");
         }
      });
   })



</script>
{%endblock%}

{% block css %}
<style>
a:hover {
   text-decoration: none;
   color : black;
}

.plot_wrapper {
   border: solid .1vw;
}
</style>
{% endblock %}




{% block content %}

<div class="m-5 p-3">
   <h3>Radar d'activités</h3>
   <em>Une vue de vos activités sur l'application</em>
<br/>
</div>

<div class="row justify-content-center">

   <div class="col-5">
      <div class="text-center mb-2">
         <form id="select_range" class="mb-5">
            {% csrf_token %}
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
               <label class="btn btn-dark active btn-rounded">
                  <input type="radio" name="range" id="global" value="global" autocomplete="off" checked> Global
               </label>
               <label class="btn btn-dark btn-rounded">
                  <input type="radio" name="range" id="project" value="project" autocomplete="off"> Par projet
               </label>
            </div>
            <div class="mt-3">
               <em id="description_project">Une vue du nombre total de vos activités sur chaque projet</em>
               <em id="description_global" style="display:none">Une vue de vos types d'activités sur un projet</em>
            </div>
         </form>

         <form id="select_project" style="display: none">
            <select class="form-control" id="select_project_btn">
               <option value='NULL'>-- Choisissez un projet --</option>
               {% for project in involved_projects %}
                  <option value='{{ project.id }}'>{{ project }}</option>
               {% endfor %}
            </select>
         </form>
      </div>

   </div>


   <div class="plot_wrapper col-6">
      <div id="div_plot"></div>
   </div>
</div>


{% endblock %}
