<!-- Vue du calendrier -->
{% extends "base.html"%}
{% load static %}

{% block script%}

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src={% static "javascript/radar_task.js" %}></script>


<script>
   $(document).ready(function() {
      document.getElementById("graphs-nav_item").classList.add("active");
      initiate_radar();
      var info_project = {{ info_project|safe }};

      var view = "radar"; // view = {0 -> Radar ; 1-> Histogramme}
      var id_selected = 0;

      $('#select_project input').on('change', function() {
         id_selected = parseInt($('input[name=projectselected]:checked', '#select_project').val());
         $('#div_plot').css('opacity', 1);
         $('#instruction').hide();
         $('#select_view').show();
         plot(id_selected, view);
      });

      $('#select_view input').on('change', function(){
         view = $('input[name=view]:checked', '#select_view').val();
         plot(id_selected, view);
      });


      function plot(id_selected, view){
         if(view == "radar"){
            plot_radar(id_selected, info_project);
         }
         else {
            plot_histogram(id_selected, info_project);
         }
      }

   });




</script>


{%endblock%}

{% block css %}
<style>
a:hover {
   text-decoration: none;
   color : black;
}

.plot_wrapper {
   border: solid .1vw;
}
</style>
{% endblock %}




{% block content %}

<div class="m-5 p-3">
   <h3>Radar des tâches</h3>
   <em>Une vue de la répartition des tâches au sein de vos projets</em>
<br/>
</div>

<div class="row justify-content-center">
   <div class="col-3">
      <h5>Mes projets</h5>
         <form id="select_project">
            {% for project in involved_projects %}
            <div class="custom-control custom-radio">
               <input class="custom-control-input" type="radio" name="projectselected" id="{{ project.id }}" value="{{ project.id }}">
               <label class="custom-control-label" for="{{ project.id }}">{{ project }}</label>
            </div>
            {% empty %}
               Aucun projet
            {% endfor %}
         </form>
   </div>
   <div class="plot_wrapper col-6">
      <em id="instruction" style="position:absolute">Choisissez un projet</em>
      <div id="div_plot" style="opacity:0"></div>

      <div class="text-center mb-2">
         <form id="select_view" style="display:none">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
               <label class="btn btn-dark active btn-rounded">
                  <input type="radio" name="view" id="radar" value="radar" autocomplete="off" checked> Radar
               </label>
               <label class="btn btn-dark btn-rounded">
                  <input type="radio" name="view" id="hist" value="histogram" autocomplete="off"> Barres
               </label>
         </div>
         </form>
      </div>
   </div>





</div>

{% endblock %}
